<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <div th:replace="common/header::header"></div>
</head>
<body>
<div th:replace="common/nav::menu"></div>
<div id="overview">
    <div class="left-content flex-col">
        <!--应用实例统计-->
        <div class="left-top">
            <div class="content-box">
                <div class="box-title">应用实例统计</div>
                <div id="app-statistics"></div>
            </div>
        </div>
        <!--异常应用列表-->
        <div class="left-bottom">
            <div class="content-box">
                <div class="box-title">异常应用列表</div>
                <div class="exception-list">
                    <div class="exception-app">
                        <img src="../images/temp/tomcat.PNG" />
                        <div class="info">
                            <div class="">tomcat</div>
                            <div class="time">2018-3-18 09:34:33</div>
                        </div>
                    </div>
                    <div class="exception-app">
                        <img src="../images/temp/tomcat.PNG" />
                        <div class="info">
                            <div class="">tomcat</div>
                            <div class="time">2018-3-18 09:34:33</div>
                        </div>
                    </div>
                    <div class="exception-app">
                        <img src="../images/temp/tomcat.PNG" />
                        <div class="info">
                            <div class="">tomcat</div>
                            <div class="time">2018-3-18 09:34:33</div>
                        </div>
                    </div>
                    <div class="exception-app">
                        <img src="../images/temp/tomcat.PNG" />
                        <div class="info">
                            <div class="">tomcat</div>
                            <div class="time">2018-3-18 09:34:33</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-content flex-col">
        <!--应用部署次数排序-->
        <div class="middle-top">
            <div class="content-box">
                <div class="box-title">热门应用</div>
                <div id="hotApp"></div>
            </div>
        </div>
        <!--异常应用详情-->
        <div class="middle-bottom">
            <div class="content-box">

            </div>
        </div>
    </div>
    <div class="right-content">
        <div class="right-all">
            <div class="content-box">
                <div class="box-title">用户日志</div>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/footer::footer"></div>
<script type="text/javascript">
    require(["../js/require-config"],function (require_config) {
        require(["adminhomepage"]);
    });
</script>
</body>
</html>