<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <div th:replace="common/header::header"></div>
</head>
<body>
<div th:replace="common/nav::menu"></div>
<div id="application">
    <div class="operate-box col-md-12 col-sm-12 col-xs-12">
        <div class="btn cloud-btn" v-cloak="" v-on:click=""><i class="fa fa-plus"></i>增加</div>
        <div class="btn cloud-btn" v-cloak="" v-on:click=""><i class="fa fa-trash"></i>删除</div>
        <div class="btn cloud-btn" v-cloak="" v-on:click=""><i class="fa fa-refresh"></i>刷新</div>
    </div>
    <table class="table" id="app_table">
        <thead class="">
        <tr>
            <th>
                <div class="checkbox-container table-checkbox-box" v-on:click="checkAll($event)">
                    <input class="cloud-checkbox" type="checkbox"/>
                </div>
            </th>
            <th>部署名称</th>
            <th>运行状态</th>
            <th>部署来源</th>
            <th>来源名称</th>
            <th>更新时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="app in appInsInfos" v-cloak="" v-bind:id="app.deploy_uuid">
            <td>
                <div class="checkbox-container table-checkbox-box" v-cloak="" v-on:click="checkOne($event)">
                    <input class="cloud-checkbox" type="checkbox"/>
                </div>
            </td>
            <td v-cloak="">{{app.deploy_name}}</td>
            <td v-cloak="">{{app.status}}</td>
            <td v-cloak="">{{app.source_type}}</td>
            <td v-cloak="">{{app.source_name}}</td>
            <td v-cloak="">{{app.update_time}}</td>
            <td v-cloak="">
                <span class="operate-btn" title="启动"><i class="fa fa-pencil"></i></span>
                <span class="operate-btn" title="停止"><i class="fa fa-pencil"></i></span>
                <span class="operate-btn" title="删除" v-cloak=""
                      v-on:click=""><i class="fa fa-trash-o"></i></span>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="serviceDetail">

    </div>
</div>
<div th:replace="common/footer::footer"></div>
<script type="text/javascript">
    require(["../js/require-config"],function (require_config) {
        require(["application"]);
    });
</script>
</body>
</html>