<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <div th:replace="common/header::header"></div>
</head>
<body>
<div th:replace="common/nav::menu"></div>
<div id="application">
    <div class="operate-box col-md-12 col-sm-12 col-xs-12">
        <!--<div class="btn cloud-btn" v-cloak="" v-on:click=""><i class="fa fa-plus"></i>增加</div>-->
        <div class="btn cloud-btn" v-cloak="" v-on:click=""><i class="fa fa-trash"></i>删除</div>
        <div class="btn cloud-btn" v-cloak="" v-on:click=""><i class="fa fa-refresh"></i>刷新</div>
    </div>
    <table class="table" id="app_table">
        <thead class="">
        <tr>
            <th>
                <div class="checkbox-container table-checkbox-box" v-on:click="checkAll($event)">
                    <input class="cloud-checkbox" type="checkbox"/>
                </div>
            </th>
            <th>部署名称</th>
            <th>运行状态</th>
            <th>描述</th>
            <th>部署来源</th>
            <th>来源名称</th>
            <th>更新时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="app in appInsInfos" v-cloak="" v-bind:id="app.deploy_uuid">
            <td>
                <div class="checkbox-container table-checkbox-box" v-cloak="" v-on:click="checkOne($event)">
                    <input class="cloud-checkbox" type="checkbox"/>
                </div>
            </td>
            <td v-cloak="" v-on:click="getServiceDetail($event, app.deploy_uuid)"
                v-bind:title="app.deploy_name"><a>{{app.deploy_name}}</a></td>
            <td v-cloak="" v-bind:title="app.status">
                <i class="fa fa-spin fa-spinner" v-if="creating(app.status)"></i>
                <i class="fa fa-check-circle" v-if="running(app.status)"></i>
                <i class="fa fa-warning" v-if="unknown(app.status)"></i>
                <i class="fa fa-stop-circle" v-if="stop(app.status)"></i>
                {{app.status}}</td>
            <td v-cloak="" v-bind:title="app.description">{{app.description}}</td>
            <td v-cloak="" v-bind:title="app.source_type">{{app.source_type}}</td>
            <td v-cloak="" v-bind:title="app.source_name">{{app.source_name}}</td>
            <td v-cloak="" v-bind:title="app.update_time">{{app.update_time}}</td>
            <td v-cloak="">
                <span class="operate-btn" title="启动" v-if="stop(app.status)"
                      v-on:click="stopOrStart($event, app.deploy_uuid, 'start')"><i class="fa fa-play-circle-o"></i></span>
                <span class="operate-btn" title="停止" v-if="running(app.status)"
                      v-on:click="stopOrStart($event, app.deploy_uuid, 'stop')"><i class="fa fa-stop-circle-o"></i></span>
                <span class="operate-btn" title="删除" v-cloak=""
                      v-on:click=""><i class="fa fa-trash-o"></i></span>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="serviceDetail" v-show="serviceDetailFlag">
        <div class="operate-box">
            <span class="close-btn" title="关闭" v-on:click="hideServiceDetail"><i class="fa fa-angle-right"></i></span>
        </div>
        <ul id="detailTab" class="nav nav-tabs">
            <li class="active" v-cloak="" >
                <a data-toggle="tab" href="#serviceInfo-box">服务</a>
            </li>
            <li v-cloak="">
                <a data-toggle="tab" href="#pod-box">Pod</a>
            </li>
        </ul>
        <div class="service-detail-content tab-content">
            <div id="serviceInfo-box" class="tab-pane fade in active">
                <table id="service_table" class="table">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>状态</th>
                        <th>访问IP</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="service in serviceInfos">
                        <td v-cloak="">{{service.name}}</td>
                        <td v-cloak=""><i class="fa fa-check-circle"></i>{{service.status}}</td>
                        <td v-cloak="">{{service.ips}}</td>
                        <td v-cloak="">
                            <span title=""><i class=""></i></span>
                            <!--<span title=""><i class=""></i></span>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="pod-box" class="tab-pane fade"></div>
        </div>
    </div>
</div>
<div th:replace="common/footer::footer"></div>
<script type="text/javascript">
    require(["../js/require-config"],function (require_config) {
        require(["application"]);
    });
</script>
</body>
</html>