<!DOCTYPE html>
<html lang="en">
<!--应用编排-->
<head>
    <meta charset="UTF-8" />
    <div th:replace="common/header::header"></div>
</head>
<body>
<div th:replace="common/nav::menu"></div>
<div id="apporch">
    <div class="operate-box col-md-12 col-sm-12 col-xs-12">
        <div class="btn cloud-btn">
            <i class="fa fa-plus"></i>
            <a href="../apporch/template" class="add-template-btn" target="_blank">增加</a>
        </div>
        <div class="btn cloud-btn"
             v-on:click="deleteByIds($event, 'multiple')" v-cloak=""><i class="fa fa-trash"></i>删除</div>
        <div class="btn cloud-btn"
             v-on:click="refreshTable" v-cloak=""><i class="fa fa-refresh"></i>刷新</div>
    </div>
    <div>
        <table class="table" id="template_table">
            <thead class="">
            <tr>
                <th>
                    <div class="checkbox-container table-checkbox-box" v-on:click="checkAll($event)">
                        <input class="cloud-checkbox" type="checkbox"/>
                    </div>
                </th>
                <th>名称</th>
                <th>图标</th>
                <th>描述</th>
                <th>发布情况</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="template in templateList" v-cloak="" v-bind:id="template.uuid">
                <td>
                    <div class="checkbox-container table-checkbox-box" v-on:click="checkOne($event)">
                        <input class="cloud-checkbox" type="checkbox"/>
                    </div>
                </td>
                <td>
                    <a target="_blank" v-cloak=""
                       v-bind:id="template.uuid"
                       v-bind:title="template.templateName" v-on:click="toDetail($event)">{{template.templateName}}</a>
                    <i class="fa fa-external-link"></i>
                </td>
                <td>
                    <a v-bind:href="template.temp_logo_url" target="_blank"
                       v-bind:title="template.logo_url" v-cloak="">{{template.logo_url}}</a>
                </td>
                <td v-cloak="" v-bind:title="template.description">{{template.description}}</td>
                <td v-cloak="" v-text="template.isPublish == '0'? '未发布': '已发布'"></td>
                <td>
                    <span class="operate-btn" title="编辑" v-cloak="" v-on:click="showEditTemplate(template.uuid)"><i class="fa fa-pencil"></i></span>
                    <span class="operate-btn" title="部署"><i class="fa fa-toggle-right"></i></span>
                    <span class="operate-btn" title="发布"
                          v-on:click="publishTemplate(template.uuid, template.templateName)"
                          v-show="template.isPublish == '0'" v-cloak=""><i class="fa fa-location-arrow"></i></span>
                    <span class="operate-btn" title="删除"
                          v-on:click="deleteByIds($event, 'one')"><i class="fa fa-trash-o"></i></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--编辑模板基本信息框-->
    <div class="modal fade" id="edit_template" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="cloud-modal-title">
                        <i class="fa fa-plus"></i>
                        <h4 class="modal-title">编辑模板基本信息</h4>
                    </div>
                </div>
                <div class="modal-body cloud-modal-body">
                    <form id="edit_template_form" role="form" class="form-horizontal" enctype="multipart/form-data">
                        <!--模板id-->
                        <div class="form-group">
                            <input id="templateid" name="templateid" v-bind:value="editTemplate.uuid" class="hidden"/>
                        </div>
                        <!--模板名称-->
                        <div class="form-group">
                            <label><span class="cloud-required">  *</span>名称</label>
                            <span>{{editTemplate.templateName}}</span>
                        </div>
                        <!--图标-->
                        <div class="form-group">
                            <label><span class="cloud-required">  *</span>图标</label>
                            <div class="file-container">
                                <input class="form-control file-input" type="text" name="logoFileName"
                                       v-model="logoFileName" readonly="readonly" />
                                <input type="file" class="file-input-btn" name="logo" id="logo" v-on:change="fileChange($event)"/>
                                <label class="btn cloud-btn select-file"><i class="fa fa-upload"></i>选择文件</label>
                            </div>
                            <span class="input-tip template-logo-tip">选择模板的图标文件，文件类型可为png、jpg、jpeg</span>
                        </div>
                        <!--描述-->
                        <div class="form-group">
                            <label >描述</label>
                            <textarea class="form-control" name="description" maxlength="1000" v-cloak=""
                                      v-model="editTemplate.description"></textarea>
                            <span class="input-tip template-desc-tip">可对模板进行简要描述</span>
                        </div>
                        <!--是否发布-->
                        <!--<div class="form-group">-->
                            <!--<label><span class="cloud-required">  *</span>是否发布</label>-->
                            <!--<div id="isPublish" class="switch">-->
                                <!--<input type="checkbox" class="form-control" />-->
                            <!--</div>-->
                        <!--</div>-->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn cloud-btn" v-on:click="submitEdit" v-cloak="">确定</button>
                    <button type="button" class="btn cloud-btn" data-dismiss="modal" v-cloak="">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/footer::footer"></div>
<script type="text/javascript">
    require(["../js/require-config"],function (require_config) {
        require(["apporch"]);
    });
</script>
</body>
</html>