<!DOCTYPE html>
<html lang="en">
<!--应用编排-->
<head>
    <meta charset="UTF-8" />
    <div th:replace="common/header::header"></div>
</head>
<body>
<div th:replace="common/nav::menu"></div>
<div id="apporch">
    <div class="operate-box col-md-12 col-sm-12 col-xs-12">
        <div class="btn cloud-btn"><i class="fa fa-plus"></i>增加</div>
        <div class="btn cloud-btn"><i class="fa fa-trash"></i>删除</div>
        <div class="btn cloud-btn"><i class="fa fa-refresh"></i>刷新</div>
    </div>
    <div>
        <table class="table" id="template_table">
            <thead class="">
            <tr>
                <th>
                    <div class="checkbox-container table-checkbox-box">
                        <input class="cloud-checkbox" type="checkbox"/>
                    </div>
                </th>
                <th>名称</th>
                <th>test</th>
                <th>test</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="checkbox-container table-checkbox-box">
                        <input class="cloud-checkbox" type="checkbox"/>
                    </div>
                </td>
                <td>test3</td>
                <td>test3</td>
                <td>test3</td>
                <td>操作</td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox-container table-checkbox-box">
                        <input class="cloud-checkbox" type="checkbox"/>
                    </div>
                </td>
                <td>test2</td>
                <td>test2</td>
                <td>test2</td>
                <td>操作</td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox-container table-checkbox-box">
                        <input class="cloud-checkbox" type="checkbox"/>
                    </div>
                </td>
                <td>test5</td>
                <td>test5</td>
                <td>test5</td>
                <td>操作</td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox-container table-checkbox-box">
                        <input class="cloud-checkbox" type="checkbox"/>
                    </div>
                </td>
                <td>test4</td>
                <td>test4</td>
                <td>test4</td>
                <td>操作</td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox-container table-checkbox-box">
                        <input class="cloud-checkbox" type="checkbox"/>
                    </div>
                </td>
                <td>test1</td>
                <td>test1</td>
                <td>test1</td>
                <td>操作</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<div th:replace="common/footer::footer"></div>
<script type="text/javascript">
    require(["../js/require-config"],function (require_config) {
        require(["apporch"]);
    });
</script>
</body>
</html>