<!DOCTYPE html>
<html lang="en">
<!--应用编排-->
<head>
    <meta charset="UTF-8" />
    <div th:replace="common/header::header"></div>
</head>
<body>
<div th:replace="common/nav::menu"></div>
<div id="apporch">
    <div class="operate-box col-md-12 col-sm-12 col-xs-12">
        <div class="btn cloud-btn">
            <i class="fa fa-plus"></i>
            <a href="../apporch/template" class="add-template-btn" target="_blank">增加</a>
        </div>
        <div class="btn cloud-btn"><i class="fa fa-trash"></i>删除</div>
        <div class="btn cloud-btn"><i class="fa fa-refresh"></i>刷新</div>
    </div>
    <div>
        <table class="table" id="template_table">
            <thead class="">
            <tr>
                <th>
                    <div class="checkbox-container table-checkbox-box">
                        <input class="cloud-checkbox" type="checkbox"/>
                    </div>
                </th>
                <th>名称</th>
                <th>图标</th>
                <th>描述</th>
                <th>已发布</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="template in templateList" v-cloak="">
                <td>
                    <div class="checkbox-container table-checkbox-box">
                        <input class="cloud-checkbox" type="checkbox"/>
                    </div>
                </td>
                <td>
                    <a target="_blank" v-cloak="" v-bind:id="template.uuid"
                       v-bind:title="template.templateName" v-on:click="toDetail($event)">{{template.templateName}}</a>
                </td>
                <td>
                    <a v-bind:href="template.temp_logo_url" target="_blank"
                       v-bind:title="template.logo_url" v-cloak="">{{template.logo_url}}</a>
                </td>
                <td v-cloak="" v-bind:title="template.description">{{template.description}}</td>
                <td v-cloak="" v-text="template.isPublish == '0'? '未发布': '已发布'"></td>
                <td>
                    <span class="operate-btn" title="部署"><i class="fa fa-toggle-right"></i></span>
                    <span class="operate-btn" title="发布"
                        v-show="template.isPublish == '0'"><i class="fa fa-location-arrow"></i></span>
                    <span class="operate-btn" title="编辑"><i class="fa fa-pencil"></i></span>
                    <span class="operate-btn" title="删除"><i class="fa fa-trash-o"></i></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<div th:replace="common/footer::footer"></div>
<script type="text/javascript">
    require(["../js/require-config"],function (require_config) {
        require(["apporch"]);
    });
</script>
</body>
</html>