<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--应用仓库-->
<head>
    <meta charset="UTF-8" />
    <div th:replace="common/header::header"></div>
</head>
<body>
<div th:replace="common/nav::menu"></div>
<div id="appstore">
    <div class="content">
        <div class="content-left">
            <div class="nav">
                <ul>
                    <li class="repo-type" v-bind:class="{'repo-type-selected': showPublic}" v-on:click="changeRepo('public', $event)">
                        <span class="repo-icon"><i class="fa fa-shopping-cart"></i></span>
                        <a >公有仓库</a>
                        <span v-cloak="" v-show="showPublic" ><i class="fa fa-angle-down"></i></span>
                        <span v-cloak="" v-show="!showPublic"><i class="fa fa-angle-right"></i></span>
                    </li>
                    <div v-cloak="" class="app-items" v-show="appType == 'public'" id="public_repo">
                        <div class="checkbox-container" v-cloak="">
                            <input type="checkbox" class="cloud-checkbox app-type-all" v-on:click="checkAll($event, 'public')" />
                            <span>全部</span>
                        </div>
                        <div class="checkbox-container" v-cloak="">
                            <input type="checkbox" value="image" class="cloud-checkbox app-type" v-on:click="checkOne($event, 'public', 'image')" />
                            <span>镜像应用</span>
                        </div>
                        <div class="checkbox-container" v-cloak="">
                            <input type="checkbox" value="template" class="cloud-checkbox app-type" v-on:click="checkOne($event, 'public', 'template')" />
                            <span>模板应用</span>
                        </div>
                    </div>
                    <li class="repo-type" v-bind:class="{'repo-type-selected': showPrivate}" v-on:click="changeRepo('private', $event)">
                        <span class="repo-icon"><i class="fa fa-shopping-cart"></i></span>
                        <a >私有仓库</a>
                        <span v-cloak="" v-show="showPrivate"><i class="fa fa-angle-down"></i></span>
                        <span v-cloak="" v-show="!showPrivate"><i class="fa fa-angle-right"></i></span>
                    </li>
                    <div v-cloak="" class="app-items" v-show="appType == 'private'" id="private_repo">
                        <div class="checkbox-container" v-cloak="">
                            <input type="checkbox" class="cloud-checkbox app-type-all" v-on:click="checkAll($event, 'private')" />
                            <span>全部</span>
                        </div>
                        <div class="checkbox-container" v-cloak="">
                            <input type="checkbox" value="image" class="cloud-checkbox app-type" v-on:click="checkOne($event, 'private', 'image')" />
                            <span>镜像应用</span>
                        </div>
                        <div class="checkbox-container" v-cloak="">
                            <input type="checkbox" value="template" class="cloud-checkbox app-type" v-on:click="checkOne($event, 'private', 'template')" />
                            <span>模板应用</span>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="content-right">
            <div class="tool-box col-lg-12">
                <div class="col-lg-8 operation">
                    <div class="btn cloud-btn" v-on:click="showUploadDialog" v-cloak=""><i class="fa fa-plus"></i>上传镜像</div>
                    <div class="btn cloud-btn">构建镜像</div>
                    <div class="btn cloud-btn" v-on:click="refreshRepo" v-cloak=""><i class="fa fa-refresh"></i>刷新</div>
                </div>
                <div class="col-lg-4"></div>
            </div>
            <div class="app-box">
                <ul id="appcontainer">
                    <!--镜像-->
                    <li v-for="(imageInfo, index) in imageInfos" v-cloak="" v-bind:id="imageInfo.app_id">
                        <div class="applogo">
                            <img src="../images/docker-blue.png" v-cloak=""/>
                        </div>
                        <div class="app-name">
                            <h5 v-cloak="">{{imageInfo.appName}}</h5>
                        </div>
                        <div class="app-tag">
                            <span v-cloak="">{{imageInfo.appTag}}</span>
                        </div>
                        <div class="app-deploy" title="部署" v-on:click="showDeployImage(imageInfo.app_id)">
                            <i class="fa fa-toggle-right"></i>
                        </div>
                        <div class="app-img">
                            <img v-bind:src="imageInfo.logo_url" v-on:error="setDefault($event)" v-cloak=""/>
                        </div>
                        <div class="app-desc" v-bind:title="imageInfo.description" v-cloak="">
                            {{imageInfo.description}}
                        </div>
                    </li>
                    <!--模板-->
                    <li v-for="(template, index) in templateInfos" v-bind:id="template.uuid" v-cloak="">
                        <div class="applogo">
                            <img src="../images/template.png" v-cloak=""/>
                        </div>
                        <div class="app-name">
                            <h5 v-cloak="">{{template.templateName}}</h5>
                        </div>
                        <div class="app-deploy" title="部署" v-on:click="showDeployTemplate(template.uuid)">
                            <i class="fa fa-toggle-right"></i>
                        </div>
                        <div class="app-img">
                            <img v-bind:src="template.temp_logo_url" v-on:error="setDefault($event)" v-cloak=""/>
                        </div>
                        <div class="app-desc" v-bind:title="template.description" v-cloak="">
                            {{template.description}}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="holder" id="appholder"></div>
        </div>
    </div>
</div>
<div th:replace="appcenter/upload_image::upload_image"></div>
<div th:replace="appcenter/deploy_image::deploy_image"></div>
<div th:replace="appcenter/deploy_template::deploy_template"></div>
<div th:replace="common/footer::footer"></div>
<script type="text/javascript">
    require(["../js/require-config"],function (require_config) {
        require(["appstore", "upload_image", "deploy_image", "deploy_template"]);
    });
</script>
</body>
</html>