<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--应用仓库-->
<head>
    <meta charset="UTF-8" />
    <div th:replace="common/header::header"></div>
</head>
<body>
<div th:replace="common/nav::menu"></div>
<div id="appstore">
    <div class="content">
        <div class="content-left">
            <div class="nav">
                <ul>
                    <li class="repo-type" v-bind:class="{'repo-type-selected': showPublic}" v-on:click="changeRepo('public', $event)">
                        <span class="repo-icon"><i class="fa fa-shopping-cart"></i></span>
                        <a >公有仓库</a>
                        <span v-cloak="" v-show="showPublic" ><i class="fa fa-angle-down"></i></span>
                        <span v-cloak="" v-show="!showPublic"><i class="fa fa-angle-right"></i></span>
                    </li>
                    <div v-cloak="" class="app-items" v-show="appType == 'public'" id="public_repo">
                        <div class="checkbox-container" v-cloak="">
                            <input type="checkbox" class="cloud-checkbox app-type-all" v-on:click="checkAll($event, 'public')" />
                            <span>全部</span>
                        </div>
                        <div class="checkbox-container" v-cloak="">
                            <input type="checkbox" value="image" class="cloud-checkbox app-type" v-on:click="checkOne($event, 'public', 'image')" />
                            <span>镜像应用</span>
                        </div>
                        <div class="checkbox-container" v-cloak="">
                            <input type="checkbox" value="template" class="cloud-checkbox app-type" v-on:click="checkOne($event, 'public', 'template')" />
                            <span>模板应用</span>
                        </div>
                    </div>
                    <li class="repo-type" v-bind:class="{'repo-type-selected': showPrivate}" v-on:click="changeRepo('private', $event)">
                        <span class="repo-icon"><i class="fa fa-shopping-cart"></i></span>
                        <a >私有仓库</a>
                        <span v-cloak="" v-show="showPrivate"><i class="fa fa-angle-down"></i></span>
                        <span v-cloak="" v-show="!showPrivate"><i class="fa fa-angle-right"></i></span>
                    </li>
                    <div v-cloak="" class="app-items" v-show="appType == 'private'" id="private_repo">
                        <div class="checkbox-container" v-cloak="">
                            <input type="checkbox" class="cloud-checkbox app-type-all" v-on:click="checkAll($event, 'private')" />
                            <span>全部</span>
                        </div>
                        <div class="checkbox-container" v-cloak="">
                            <input type="checkbox" value="image" class="cloud-checkbox app-type" v-on:click="checkOne($event, 'private', 'image')" />
                            <span>镜像应用</span>
                        </div>
                        <div class="checkbox-container" v-cloak="">
                            <input type="checkbox" value="template" class="cloud-checkbox app-type" v-on:click="checkOne($event, 'private', 'template')" />
                            <span>模板应用</span>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="content-right">
            <div class="tool-box col-lg-12">
                <div class="col-lg-8 operation">
                    <div class="btn cloud-btn" v-on:click="showUploadDialog" v-cloak=""><i class="fa fa-plus"></i>上传镜像</div>
                    <!--<div class="btn cloud-btn">构建镜像</div>-->
                    <div class="btn cloud-btn" v-on:click="refreshRepo" v-cloak=""><i class="fa fa-refresh"></i>刷新</div>
                </div>
                <div class="col-lg-4"></div>
            </div>
            <div class="app">
                <!--应用概览-->
                <div class="app-overview">
                    <div class="app-box">
                        <ul id="appcontainer">
                            <!--镜像-->
                            <li v-for="(imageInfo, index) in imageInfos" v-bind:id="imageInfo.app_id"
                                v-on:click="showAppDetail($event, imageInfo.app_id, 'image', index)" v-cloak="">
                                <div class="applogo">
                                    <img src="../images/docker-blue.png" v-cloak=""/>
                                </div>
                                <div class="app-name">
                                    <h5 v-cloak="">{{imageInfo.appName}}</h5>
                                </div>
                                <div class="app-tag">
                                    <span v-cloak="">{{imageInfo.appTag}}</span>
                                </div>
                                <div class="app-deploy" title="部署" v-on:click="showDeployImage(imageInfo.app_id)">
                                    <i class="fa fa-toggle-right"></i>
                                </div>
                                <!--<div class="app-delete" title="删除"></div>-->
                                <div class="app-img">
                                    <img v-bind:src="imageInfo.logo_url" v-on:error="setDefault($event)" v-cloak=""/>
                                </div>
                                <div class="app-desc" v-bind:title="imageInfo.description" v-cloak="">
                                    {{imageInfo.description}}
                                </div>
                            </li>
                            <!--模板-->
                            <li v-for="(template, index) in templateInfos" v-bind:id="template.uuid"
                                v-on:click="showAppDetail($event, template.uuid, 'template', index)" v-cloak="">
                                <div class="applogo">
                                    <img src="../images/template.png" v-cloak=""/>
                                </div>
                                <div class="app-name">
                                    <h5 v-cloak="">{{template.templateName}}</h5>
                                </div>
                                <div class="app-deploy" title="部署" v-on:click="showDeployTemplate(template.uuid)">
                                    <i class="fa fa-toggle-right"></i>
                                </div>
                                <div class="app-img">
                                    <img v-bind:src="template.temp_logo_url" v-on:error="setDefault($event)" v-cloak=""/>
                                </div>
                                <div class="app-desc" v-bind:title="template.description" v-cloak="">
                                    {{template.description}}
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="holder" id="appholder"></div>
                </div>
                <!--应用详情-->
                <div class="app-detail" v-cloak="">
                    <div class="detail-title">
                        <ul id="detailTab" class="nav nav-tabs">
                            <li class="active" v-if="imageDetail" v-cloak="" >
                                <a data-toggle="tab" href="#imageBaseInfo">基本信息</a>
                            </li>
                            <li class="active" v-if="templateDetail" v-cloak="">
                                <a data-toggle="tab" href="#templateBaseInfo">基本信息</a>
                            </li>
                            <li v-if="imageDetail" v-cloak="">
                                <a data-toggle="tab" href="#versionDetail">版本</a>
                            </li>
                            <li v-if="templateDetail" v-cloak="">
                                <a data-toggle="tab" href="#templateConfig">配置信息</a>
                            </li>
                        </ul>
                        <!--应用详情页面 镜像 部署和删除-->
                        <div v-show="imageDetail">
                            <div class="operation-box">
                                <span><i class="fa fa-toggle-right"></i>部署</span>
                                <span v-on:click="showImageVersions"><i class="fa fa-trash-o"></i>删除</span>
                            </div>
                        </div>
                        <!--应用详情页面 模板 部署和删除-->
                        <div v-show="templateDetail">
                            <div class="operation-box">
                                <span><i class="fa fa-toggle-right"></i>部署</span>
                                <span><i class="fa fa-trash-o"></i>删除</span>
                            </div>
                        </div>
                        <div class="close-box">
                            <button type="button" class="close" v-on:click="closeAppDetail">&times;</button>
                        </div>
                    </div>
                    <!--镜像详情-->
                    <div class="image-detail" v-if="imageDetail" v-cloak="">
                        <div class="detail-content tab-content" v-bind:id="selectedImage.app_id">
                            <!--基本信息-->
                            <div id="imageBaseInfo" class="tab-pane fade in active">
                                <div class="upper">
                                    <span v-cloak="">{{selectedImage.appName}}</span>
                                    <img v-bind:src="selectedImage.logo_url" v-on:error="setDefault($event)" v-cloak=""/>
                                    <p v-cloak="">{{selectedImage.description}}</p>
                                </div>
                                <div class="floor">
                                    <!--应用类型-->
                                    <div class="group-box">
                                        <span class="group-title">应用类型</span>
                                        <div class="group">
                                            <span v-text="selectedImage.appType" v-cloak=""></span>
                                        </div>
                                    </div>
                                    <!--标签-->
                                    <div class="group-box">
                                        <span class="group-title">标签</span>
                                        <div class="group">
                                            <span v-text="selectedImage.appTag" v-cloak=""></span>
                                        </div>
                                    </div>
                                    <!--创建时间-->
                                    <div class="group-box">
                                        <span class="group-title">创建时间</span>
                                        <div class="group">
                                            <span v-text="selectedImage.create_time" v-cloak=""></span>
                                        </div>
                                    </div>
                                    <!--更新时间-->
                                    <div class="group-box">
                                        <span class="group-title">最近更新</span>
                                        <div class="group">
                                            <span v-text="selectedImage.update_time" v-cloak=""></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--版本信息-->
                            <div id="versionDetail" class="tab-pane fade">
                                <div class="version-box">
                                    <span>《</span>
                                    <span class="version" v-for="(item,index) in selectedImage.version"
                                          v-bind:class="index == 0 ? 'version-selected' : ''"
                                          v-on:click="changeVersion($event)" v-cloak="">{{item}}</span>
                                    <span>》</span>
                                </div>
                                <div class="version-detail-box">
                                    <!--文件-->
                                    <div class="group-box">
                                        <span class="group-title">文件</span>
                                        <div class="group">
                                            <span class="sub-title">下载地址:</span>
                                            <span v-text="imageDetailBind.sourceUrl" v-cloak=""></span>
                                        </div>
                                    </div>
                                    <!--运行环境-->
                                    <div class="group-box">
                                        <span class="group-title">运行环境</span>
                                        <div class="group">
                                            <span class="sub-title">启动限制:</span>
                                            <span v-text="imageDetailBind.requests" v-cloak=""></span>
                                        </div>
                                    </div>
                                    <div class="group-box">
                                        <span class="group-title no-text"></span>
                                        <div class="group">
                                            <span class="sub-title">运行限制:</span>
                                            <span v-text="imageDetailBind.limits" v-cloak=""></span>
                                        </div>
                                    </div>
                                    <!--目录映射-->
                                    <div class="group-box">
                                        <span class="group-title">目录映射</span>
                                        <div class="group">
                                            <span class="sub-title">路径:</span>
                                            <span v-text="imageDetailBind.volume" v-cloak=""></span>
                                        </div>
                                    </div>
                                    <!--运行命令-->
                                    <div class="group-box">
                                        <span class="group-title">运行命令</span>
                                        <div class="group">
                                            <span class="sub-title">命令:</span>
                                            <span v-text="imageDetailBind.cmd" v-cloak=""></span>
                                        </div>
                                    </div>
                                    <!--命令参数-->
                                    <div class="group-box" v-for="(param, index) in imageDetailBind.cmdParams" v-cloak="">
                                        <span class="group-title" v-if="index==0">命令参数</span>
                                        <span class="group-title no-text" v-if="index!=0"></span>
                                        <div class="group">
                                            <span class="sub-title">参数{{index+1}}:</span>
                                            <span v-text="param" v-cloak=""></span>
                                        </div>
                                    </div>
                                    <!--环境变量-->
                                    <div class="group-box" v-for="(item, index) in imageDetailBind.env" v-cloak="">
                                        <span class="group-title" v-if="index==0">环境变量</span>
                                        <span class="group-title no-text" v-if="index!=0"></span>
                                        <div class="group">
                                            <span class="sub-title" v-cloak="">{{item.name}}:</span>
                                            <span v-text="item.value" v-cloak=""></span>
                                        </div>
                                    </div>
                                    <!--端口映射-->
                                    <div class="group-box" v-for="(item, index) in imageDetailBind.ports" v-cloak="">
                                        <span class="group-title" v-if="index==0">端口映射</span>
                                        <span class="group-title no-text" v-if="index!=0"></span>
                                        <div class="group">
                                            <span class="sub-title" v-cloak="">{{item.portName}}:</span>
                                            <span v-cloak="">容器端口:{{item.containerPort}}, 集群内端口:{{item.port}}, 集群外端口:{{item.nodePort}}, 协议:{{item.protocol}}</span>
                                        </div>
                                    </div>
                                    <!--版本特性-->
                                    <div class="group-box">
                                        <span class="group-title">版本特性</span>
                                        <div class="group">
                                            <span class="sub-title">特性:</span>
                                            <span>{{imageDetailBind.v_description}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--模板详情-->
                    <div class="template-detail" v-if="templateDetail" v-cloak="">
                        <div class="detail-content tab-content" v-bind:id="selectedTemplate.uuid">
                            <!--基本信息-->
                            <div id="templateBaseInfo" class="tab-pane fade in active">
                                <div class="upper">
                                    <span v-cloak="">{{selectedTemplate.templateName}}</span>
                                    <img v-bind:src="selectedTemplate.temp_logo_url" v-on:error="setDefault($event)" v-cloak=""/>
                                    <p v-cloak="">{{selectedTemplate.description}}</p>
                                </div>
                                <div class="floor">
                                    <!--应用类型-->
                                    <div class="group-box">
                                        <span class="group-title">应用类型</span>
                                        <div class="group">
                                            <span v-text="selectedTemplate.appType" v-cloak=""></span>
                                        </div>
                                    </div>
                                    <!--标签-->
                                    <div class="group-box">
                                        <span class="group-title">是否已发布</span>
                                        <div class="group">
                                            <span v-text="selectedTemplate.isPublish=='1'? '已发布' : '未发布'" v-cloak=""></span>
                                        </div>
                                    </div>
                                    <!--创建时间-->
                                    <div class="group-box">
                                        <span class="group-title">创建时间</span>
                                        <div class="group">
                                            <span v-text="selectedTemplate.create_time" v-cloak=""></span>
                                        </div>
                                    </div>
                                    <!--更新时间-->
                                    <div class="group-box">
                                        <span class="group-title">最近更新</span>
                                        <div class="group">
                                            <span v-text="selectedTemplate.update_time" v-cloak=""></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--配置-->
                            <div id="templateConfig" class="tab-pane fade">
                                <div class="config-box">
                                    <span>《</span>
                                    <span class="config" v-for="(item,index) in selectedTemplate.config"
                                          v-bind:class="index == 0 ? 'config-selected' : ''"
                                          v-on:click="changeAppName($event)" v-cloak="">{{item.appName}}</span>
                                    <span>》</span>
                                </div>
                                <div class="config-detail-box">
                                    <!--文件-->
                                    <div class="group-box">
                                        <span class="group-title">文件</span>
                                        <div class="group">
                                            <span class="sub-title">版本:</span>
                                            <span v-text="templateDetailBind.appVersion" v-cloak=""></span>
                                        </div>
                                    </div>
                                    <div class="group-box">
                                        <span class="group-title no-text"></span>
                                        <div class="group">
                                            <span class="sub-title">下载地址:</span>
                                            <span v-text="templateDetailBind.sourceUrl" v-cloak=""></span>
                                        </div>
                                    </div>
                                    <!--运行环境-->
                                    <div class="group-box">
                                        <span class="group-title">运行环境</span>
                                        <div class="group">
                                            <span class="sub-title">启动限制:</span>
                                            <span v-text="templateDetailBind.requests" v-cloak=""></span>
                                        </div>
                                    </div>
                                    <div class="group-box">
                                        <span class="group-title no-text"></span>
                                        <div class="group">
                                            <span class="sub-title">运行限制:</span>
                                            <span v-text="templateDetailBind.limits" v-cloak=""></span>
                                        </div>
                                    </div>
                                    <!--目录映射-->
                                    <div class="group-box">
                                        <span class="group-title">目录映射</span>
                                        <div class="group">
                                            <span class="sub-title">路径:</span>
                                            <span v-text="templateDetailBind.volume" v-cloak=""></span>
                                        </div>
                                    </div>
                                    <!--运行命令-->
                                    <div class="group-box">
                                        <span class="group-title">运行命令</span>
                                        <div class="group">
                                            <span class="sub-title">命令:</span>
                                            <span v-text="templateDetailBind.cmd" v-cloak=""></span>
                                        </div>
                                    </div>
                                    <!--命令参数-->
                                    <div class="group-box" v-for="(param, index) in templateDetailBind.cmdParams" v-cloak="">
                                        <span class="group-title" v-if="index == 0">命令参数</span>
                                        <span class="group-title no-text" v-if="index != 0"></span>
                                        <div class="group">
                                            <span class="sub-title">参数{{index+1}}:</span>
                                            <span>{{param}}</span>
                                        </div>
                                    </div>
                                    <!--环境变量-->
                                    <div class="group-box" v-for="(item, index) in templateDetailBind.env" v-cloak="">
                                        <span class="group-title" v-if="index == 0">环境变量</span>
                                        <span class="group-title no-text" v-if="index != 0"></span>
                                        <div class="group">
                                            <span class="sub-title">{{item.name}}:</span>
                                            <span>{{item.value}}</span>
                                        </div>
                                    </div>
                                    <!--端口映射-->
                                    <div class="group-box" v-for="(port, index) in templateDetailBind.ports" v-cloak="">
                                        <span class="group-title" v-if="index == 0">端口映射</span>
                                        <span class="group-title no-text" v-if="index != 0"></span>
                                        <div class="group">
                                            <span class="sub-title">{{port.portName}}:</span>
                                            <span>容器端口:{{port.containerPort}}, 集群内端口:{{port.port}}, 集群外端口:{{port.nodePort}}, 协议:{{port.protocol}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--显示镜像版本的对话框-->
        <div id="imageVersion_dialog">
            <div class="modal fade" id="imageVersion" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <div class="cloud-modal-title">
                                <i class="fa fa-plus"></i>
                                <h4 class="modal-title">删除镜像</h4>
                            </div>
                        </div>
                        <div class="modal-body cloud-modal-body">
                            <div class="version-box"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn cloud-btn"
                                    v-on:click="submitDelete" v-cloak="">确定</button>
                            <button type="button" class="btn cloud-btn" data-dismiss="modal" v-cloak="">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="appcenter/upload_image::upload_image"></div>
<div th:replace="appcenter/deploy_image::deploy_image"></div>
<div th:replace="appcenter/deploy_template::deploy_template"></div>
<div th:replace="common/footer::footer"></div>
<script type="text/javascript">
    require(["../js/require-config"],function (require_config) {
        require(["appstore", "upload_image", "deploy_image", "deploy_template"]);
    });
</script>
</body>
</html>