<!DOCTYPE html>
<html>
<body>
<div th:fragment="deploy_template" id="deploy_template_dialog">
    <div class="modal fade" id="deploy_template" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="cloud-modal-title">
                        <i class="fa fa-toggle-right"></i>
                        <h4 class="modal-title">部署模板</h4>
                    </div>
                </div>
                <div class="modal-body cloud-modal-body">
                    <form id="deploy_template_form" role="form" class="form-horizontal" enctype="multipart/form-data">
                        <div class="modal-body-left">
                            <ul class="info-type">
                                <li class="info-item"
                                    v-bind:class="infoTag == 'baseInfo' ? 'info-item-selected' : ''">基本信息</li>
                                <li class="info-item"
                                    v-bind:class="infoTag == 'resourceInfo' ? 'info-item-selected' : ''">规格信息</li>
                                <li class="info-item"
                                    v-bind:class="infoTag == 'configInfo' ? 'info-item-selected' : ''">配置信息</li>
                            </ul>
                        </div>
                        <div class="modal-body-right">
                            <div class="base-info" v-show="infoTag == 'baseInfo'" v-cloak="">
                                <!--部署名称-->
                                <div class="form-group">
                                    <label>名称</label>
                                    <div>
                                        <input type="text" class="form-control" name="deployName" placeholder="请输入部署名称" maxlength="64"/>
                                    </div>
                                </div>
                                <!--模板名称-->
                                <div class="form-group">
                                    <label>模板</label>
                                    <div style="display: inline-block; margin-left: 6px;">
                                        <span v-cloak="">{{deployTemplateObj.templateName}}</span>
                                    </div>
                                </div>
                                <!--部署描述-->
                                <div class="form-group">
                                    <label >描述</label>
                                    <div>
                                        <textarea class="form-control" name="description" maxlength="1000"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="resource-info" v-show="infoTag == 'resourceInfo'" v-cloak="">
                                <ul id="resourceTab" class="nav nav-tabs">
                                    <li v-bind:class="{active: index == 0}" v-for="(appInfo, index) in deployTemplateObj.config">
                                        <a data-toggle="tab" v-bind:href="'#resource'+appInfo.appName">{{appInfo.appName}}</a>
                                    </li>
                                </ul>
                                <div id="resourceTabContent" class="tab-content">
                                    <div v-for="(appInfo, index) in deployTemplateObj.config" class="tab-pane fade"
                                         v-bind:id="'resource'+appInfo.appName" v-bind:class="{active: index == 0, in: index == 0}">
                                        <div class="form-group">
                                            <label >启动限制</label>
                                        </div>
                                        <div class="form-group">
                                            <label >CPU</label>
                                            <div>
                                                <input class="form-control" type="text" name="mincpu"
                                                       v-bind:value="appInfo.metadata.requests.cpu" v-cloak=""/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label >内存</label>
                                            <div>
                                                <input class="form-control runtime-input" type="text" name="minMemory"
                                                       v-bind:value="appInfo.metadata.requests.memory"/>
                                                <select class="form-control runtime-select" name="minMemoryUnit"
                                                        v-bind:value="appInfo.metadata.requests.memoryUnit" v-cloak="">
                                                    <option value="MB">MB</option>
                                                    <option value="GB">GB</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label >运行限制</label>
                                        </div>
                                        <div class="form-group">
                                            <label >CPU</label>
                                            <div>
                                                <input class="form-control" type="text" name="maxcpu"
                                                       v-bind:value="appInfo.metadata.limits.cpu" v-cloak=""/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label >内存</label>
                                            <div>
                                                <input class="form-control runtime-input" type="text" name="maxMemory"
                                                       v-bind:value="appInfo.metadata.limits.memory" v-cloak=""/>
                                                <select class="form-control runtime-select" name="maxMemoryUnit"
                                                        v-bind:value="appInfo.metadata.limits.memoryUnit" v-cloak="">
                                                    <option value="MB">MB</option>
                                                    <option value="GB">GB</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="config-info" v-show="infoTag == 'configInfo'" v-cloak="">
                                <ul id="configTab" class="nav nav-tabs">
                                    <li v-for="(appInfo, index) in deployTemplateObj.config" v-bind:class="{active: index == 0}">
                                        <a data-toggle="tab" v-bind:href="'#config'+appInfo.appName">{{appInfo.appName}}</a>
                                    </li>
                                </ul>
                                <div id="configTabContent" class="tab-content">
                                    <div v-for="(appInfo, index) in deployTemplateObj.config" class="tab-pane fade"
                                         v-bind:id="'config'+appInfo.appName" v-bind:class="{active: index==0, in: index == 0}">
                                        <!--服务名称-->
                                        <div class="form-group">
                                            <label>服务名称</label>
                                            <div>
                                                <input class="form-control" type="text" name="serviceName" />
                                            </div>
                                        </div>
                                        <!--副本数-->
                                        <div class="form-group">
                                            <label>实例个数</label>
                                            <div>
                                                <input class="form-control" type="number" name="instanceCount" />
                                            </div>
                                        </div>
                                        <!--目录映射-->
                                        <div class="form-group">
                                            <label >目录映射</label>
                                            <div>
                                                <input class="form-control" type="text" name="volumeDir"
                                                       v-bind:value="appInfo.metadata.volume" v-cloak=""/>
                                            </div>
                                        </div>
                                        <!--运行命令-->
                                        <div class="form-group">
                                            <label >运行命令</label>
                                            <div>
                                                <input class="form-control" type="text" name="cmd"
                                                       v-bind:value="appInfo.metadata.cmd" v-cloak=""/>
                                            </div>
                                        </div>
                                        <!--命令参数-->
                                        <div class="form-group" v-bind:id="appInfo.appName+'cmdParam-box'">
                                            <label >命令参数</label>
                                            <span v-on:click="addCmdParam(appInfo.appName, '')"><i class="fa fa-plus"></i></span>
                                        </div>
                                        <!--环境变量-->
                                        <div class="form-group">
                                            <label>环境变量</label>
                                            <span v-on:click="addEnv(appInfo.appName, [])"><i class="fa fa-plus"></i></span>
                                            <div class="modal-table-box">
                                                <table class="table cloud-modal-table" v-bind:id="appInfo.appName+'env_table'">
                                                    <thead>
                                                    <tr>
                                                        <th>变量</th>
                                                        <th>值</th>
                                                        <th>操作</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!--端口映射-->
                                        <div class="form-group port-form-group" >
                                            <label>端口映射</label>
                                            <span v-on:click="addPort(appInfo.appName, [], 'html')"><i class="fa fa-plus"></i></span>
                                            <div class="modal-table-box">
                                                <table class="table cloud-modal-table" v-bind:id="appInfo.appName+'port_table'">
                                                    <thead>
                                                    <tr>
                                                        <th>名称</th>
                                                        <th style="width: 82px;">协议</th>
                                                        <th>容器端口</th>
                                                        <th>集群内端口</th>
                                                        <th>集群外端口</th>
                                                        <th>操作</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn cloud-btn" v-show="previousStep"
                            v-on:click="toPrevious" v-cloak="">上一步</button>
                    <button type="button" class="btn cloud-btn" v-show="nextStep"
                            v-on:click="toNext" v-cloak="">下一步</button>
                    <button type="button" class="btn cloud-btn" v-on:click="" v-show="submitTag" v-cloak="">确定</button>
                    <button type="button" class="btn cloud-btn" data-dismiss="modal" v-cloak="">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>