<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <div th:replace="common/header::header"></div>
</head>
<body>
<div th:replace="common/nav::menu"></div>
<div id="template">
    <div class="content">
        <div class="content-left">
            <!--DBMS应用-->
            <div class="app-tag-statistic-box">
                <div class="app-tag-statistic" v-show="appTagToShow != 'DBMS'" v-cloak="" v-on:click="changeAppTag('DBMS')">
                    <span v-cloak="">DBMS({{DBMSCount}})</span>
                    <span><i class="fa fa-angle-right"></i></span>
                </div>
                <div class="app-tag-statistic app-tag-statistic-detail" v-show="appTagToShow == 'DBMS'" v-cloak="">
                    <span v-cloak="">DBMS({{DBMSCount}})</span>
                    <span>
                                    <i class="fa fa-angle-down"></i>
                                </span>
                </div>
                <ul class="app-items" v-show="appTagToShow == 'DBMS'" v-cloak="">
                    <li class="app-item" v-for="db in DBMSList" v-bind:id="db.app_id" draggable="true" v-cloak=""
                        v-on:dragstart="startDrag( 'DBMS', db.app_id, $event)">
                        <img v-bind:src="db.temp_logo_url" v-on:error="setDefault($event)" draggable="false"/>
                        <span v-bind:title="db.appName" v-cloak="">{{db.appNameShow}}</span>
                        <label v-cloak="" v-text="db.type == 'public' ? '公有': '私有'"></label>
                    </li>
                </ul>
            </div>
            <!--WebServer应用-->
            <div class="app-tag-statistic-box">
                <div class="app-tag-statistic" v-cloak="" v-show="appTagToShow != 'WebServer'" v-on:click="changeAppTag('WebServer')">
                    <span v-cloak="">WebServer({{WebServerCount}})</span>
                    <span>
                                    <i class="fa fa-angle-right"></i>
                                </span>
                </div>
                <div class="app-tag-statistic app-tag-statistic-detail" v-cloak="" v-show="appTagToShow == 'WebServer'">
                    <span v-cloak="">WebServer({{WebServerCount}})</span>
                    <span>
                                    <i class="fa fa-angle-down"></i>
                                </span>
                </div>
                <ul class="app-items" v-cloak="" v-show="appTagToShow == 'WebServer'">
                    <li class="app-item" v-for="web in WebServerList" v-bind:id="web.app_id" draggable="true" v-cloak=""
                        v-on:dragstart="startDrag('WebServer', web.app_id, $event)">
                        <img v-bind:src="web.temp_logo_url" v-on:error="setDefault($event)" draggable="false" />
                        <span v-bind:title="web.appName" v-cloak="">{{web.appNameShow}}</span>
                        <label v-text="web.type == 'public' ? '公有': '私有'" v-cloak=""></label>
                    </li>
                </ul>
            </div>
            <!--Application-->
            <div class="app-tag-statistic-box">
                <div class="app-tag-statistic" v-cloak="" v-show="appTagToShow != 'Application'" v-on:click="changeAppTag('Application')">
                    <span v-cloak="">Application({{ApplicationCount}})</span>
                    <span>
                                    <i class="fa fa-angle-right"></i>
                                </span>
                </div>
                <div class="app-tag-statistic app-tag-statistic-detail" v-cloak="" v-show="appTagToShow == 'Application'">
                    <span v-cloak="">Application({{ApplicationCount}})</span>
                    <span>
                                    <i class="fa fa-angle-down"></i>
                                </span>
                </div>
                <ul class="app-items" v-cloak="" v-show="appTagToShow == 'Application'">
                    <li class="app-item" v-for="app in ApplicationList" v-bind:id="app.app_id" draggable="true" v-cloak=""
                        v-on:dragstart="startDrag('Application', app.app_id, $event)">
                        <img v-bind:src="app.temp_logo_url" v-on:error="setDefault($event)" draggable="false" />
                        <span v-bind:title="app.appName" v-cloak="">{{app.appNameShow}}</span>
                        <label v-cloak="" v-text="app.type == 'public' ? '公有': '私有'"></label>
                    </li>
                </ul>
            </div>
            <!--Other-->
            <div class="app-tag-statistic-box">
                <div class="app-tag-statistic" v-cloak="" v-show="appTagToShow != 'Other'" v-on:click="changeAppTag('Other')">
                    <span v-cloak="">Other({{OtherCount}})</span>
                    <span>
                                    <i class="fa fa-angle-right"></i>
                                </span>
                </div>
                <div class="app-tag-statistic app-tag-statistic-detail" v-cloak="" v-show="appTagToShow == 'Other'">
                    <span v-cloak="">Other({{OtherCount}})</span>
                    <span>
                                    <i class="fa fa-angle-down"></i>
                                </span>
                </div>
                <ul class="app-items" v-cloak="" v-show="appTagToShow == 'Other'">
                    <li class="app-item" v-for="other in OtherList" v-bind:id="other.app_id" draggable="true" v-cloak=""
                        v-on:dragstart="startDrag( 'Other', other.app_id, $event)">
                        <img v-bind:src="other.temp_logo_url" v-on:error="setDefault($event)" draggable="false" />
                        <span v-bind:title="other.appName" v-cloak="">{{other.appNameShow}}</span>
                        <label v-cloak="" v-text="other.type == 'public' ? '公有': '私有'"></label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-middle">
            <div id="canvas-box"></div>
            <div class="twaver-operation-box">
                <img v-show="!twaverObj.isLinkMode" v-on:click="changeLinkMode('link')" src="../images/apporch/link.png" v-cloak=""/>
                <img v-show="twaverObj.isLinkMode" v-on:click="changeLinkMode('unlink')" src="../images/apporch/unlink.png" v-cloak=""/>
            </div>
        </div>
        <div class="content-right">
            <div class="app-info-container" v-if="twaverObj.selectedApp" v-cloak="">
                <label class="info-title">基本信息</label>
                <div class="app-info-box">
                    <div class="form-group">
                        <label>镜像： </label>
                        <span v-cloak="" v-text="selected.appName"></span>
                    </div>
                    <div class="form-group">
                        <label><span class="cloud-required">  *</span>版本： </label>
                        <select name="version" id="version" v-on:change="changeVersion($event)" v-model="selected.version">
                            <option v-for="(item, index) in twaverObj.selectedApp.version"
                                    v-bind:value="item" v-cloak="">{{item}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>标签： </label>
                        <span v-cloak="" v-text="selected.appTag"></span>
                    </div>
                    <div class="form-group">
                        <label>描述： </label>
                        <span v-cloak="" v-text="selected.description"></span>
                    </div>
                </div>
                <label class="info-title">启动限制</label>
                <div class="app-info-box">
                    <div class="form-group">
                        <label><span class="cloud-required">  *</span>CPU(核)： </label>
                        <input class="template-form-control" type="text" v-model="selected.requests.cpu" name="minCpu" id="minCpu" />
                    </div>
                    <div class="form-group">
                        <label><span class="cloud-required">  *</span>内存： </label>
                        <input class="runtime-input" type="text"
                               v-model="selected.requests.memory" name="minMemory" id="minMemory" />
                        <select class="runtime-select" v-model="selected.requests.memoryUnit"
                                name="minMemoryUnit" id="minMemoryUnit">
                            <option value="Mi">MB</option>
                            <option value="Gi">GB</option>
                        </select>
                    </div>
                </div>
                <label class="info-title">运行限制</label>
                <div class="app-info-box">
                    <div class="form-group">
                        <label><span class="cloud-required">  *</span>CPU(核)： </label>
                        <input class="template-form-control" type="text" v-model="selected.limits.cpu" name="maxCpu" id="maxCpu" />
                    </div>
                    <div class="form-group">
                        <label><span class="cloud-required">  *</span>内存： </label>
                        <input class="runtime-input" type="text"
                               v-model="selected.limits.memory" name="maxMemory" id="maxMemory" />
                        <select class="runtime-select"
                                v-model="selected.limits.memoryUnit" name="maxMemoryUnit" id="maxMemoryUnit">
                            <option value="Mi">MB</option>
                            <option value="Gi">GB</option>
                        </select>
                    </div>
                </div>
                <label class="info-title">工作目录</label>
                <div class="app-info-box">
                    <div class="form-group">
                        <label>目录映射： </label>
                        <input class="template-form-control" type="text" v-model="selected.volume" name="workDir" id="workDir" />
                    </div>
                </div>
                <label class="info-title">运行命令</label>
                <div class="app-info-box">
                    <div class="form-group">
                        <label>命令： </label>
                        <input class="template-form-control" type="text" v-model="selected.cmd" name="cmd" id="cmd" />
                    </div>
                    <div class="form-group" v-for="(param, index) in selected.cmdParams">
                        <label>参数{{index+1}}： </label>
                        <input class="template-form-control" type="text" v-model="selected.cmdParams[index]" name="cmdParam" v-cloak=""/>
                    </div>
                </div>
                <label class="info-title">环境变量</label>
                <div class="app-info-box">
                    <div v-for="(item) in selected.env">
                        <div class="form-group">
                            <label v-cloak="">{{item.name}}：</label>
                            <input class="template-form-control" type="text" v-model="item.value" name="envValue" v-cloak=""/>
                        </div>
                    </div>
                </div>
                <label class="info-title">端口映射</label>
                <div class="app-info-box" >
                    <div v-for="(item) in selected.ports">
                        <div class="form-group">
                            <label><span class="cloud-required">  *</span>名称： </label>
                            <input class="template-form-control" type="text" v-model="item.portName" v-cloak=""/>
                        </div>
                        <div class="form-group">
                            <label><span class="cloud-required">  *</span>容器端口： </label>
                            <input class="template-form-control" type="text" v-model="item.containerPort" v-cloak=""/>
                        </div>
                        <div class="form-group">
                            <label><span class="cloud-required">  *</span>集群内端口： </label>
                            <input class="template-form-control" type="text" v-model="item.port" v-cloak=""/>
                        </div>
                        <div class="form-group">
                            <label><span class="cloud-required">  *</span>集群外端口： </label>
                            <input class="template-form-control" type="text" v-model="item.nodePort" v-cloak=""/>
                        </div>
                        <div class="form-group">
                            <label><span class="cloud-required">  *</span>协议： </label>
                            <select class="protocol-select" v-model="item.protocol" v-cloak="">
                                <option value="TCP">TCP</option>
                                <option value="UDP">UDP</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="operation-container">
            <button type="button" class="btn cloud-btn" v-on:click="showTemplateDialog" v-cloak="">确定</button>
        </div>
    </div>
    <!--模板信息框框-->
    <div class="modal fade" id="add_template" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="cloud-modal-title">
                        <i class="fa fa-plus"></i>
                        <h4 class="modal-title">模板信息</h4>
                    </div>
                </div>
                <div class="modal-body cloud-modal-body">
                    <form id="add_template_form" role="form" class="form-horizontal" enctype="multipart/form-data">
                        <!--模板名称-->
                        <div class="form-group">
                            <label><span class="cloud-required">  *</span>名称</label>
                            <div class="form-content">
                                <input type="text" class="form-control" id="templateName" name="templateName" placeholder="请输入名称" maxlength="64"/>
                            </div>
                        </div>
                        <!--图标-->
                        <div class="form-group">
                            <label><span class="cloud-required">  *</span>图标</label>
                            <div class="file-container">
                                <input class="form-control file-input" type="text" name="logoFileName"
                                       v-model="logoFileName" readonly="readonly" />
                                <input type="file" class="file-input-btn" name="logo" id="logo" v-on:change="fileChange($event)"/>
                                <label class="btn cloud-btn select-file"><i class="fa fa-upload"></i>选择文件</label>
                            </div>
                        </div>
                        <!--描述-->
                        <div class="form-group">
                            <label >描述</label>
                            <div class="form-content">
                                <textarea class="form-control" name="description" maxlength="1000"></textarea>
                            </div>
                        </div>
                        <!--是否发布-->
                        <div class="form-group">
                            <label><span class="cloud-required">  *</span>是否发布</label>
                            <div id="isPublish" class="switch">
                                <input type="checkbox" class="form-control" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn cloud-btn" v-on:click="submitAdd" v-cloak="">确定</button>
                    <button type="button" class="btn cloud-btn" data-dismiss="modal" v-cloak="">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/footer::footer"></div>
<script type="text/javascript">
    require(["../js/require-config"],function (require_config) {
        require(["template"]);
    });
</script>
</body>
</html>