<!DOCTYPE html>
<html>
<body>
<div th:fragment="upload_image" id="upload_image_dialog">
    <div class="modal fade" id="upload_image" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="cloud-modal-title">
                        <i class="fa fa-plus"></i>
                        <h4 class="modal-title">上传镜像</h4>
                    </div>
                </div>
                <div class="modal-body cloud-modal-body">
                    <form id="upload_image_form" role="form" class="form-horizontal" enctype="multipart/form-data">
                        <div class="modal-body-left">
                            <ul class="info-type">
                                <li class="info-item"
                                    v-bind:class="infoTag == 'baseInfo' ? 'info-item-selected' : ''">基本信息</li>
                                <li class="info-item"
                                    v-bind:class="infoTag == 'configInfo' ? 'info-item-selected' : ''">配置信息</li>
                                <li class="info-item"
                                    v-bind:class="infoTag == 'runtimeInfo' ? 'info-item-selected' : ''">资源要求</li>
                            </ul>
                        </div>
                        <div class="modal-body-right">
                            <div class="base-info" v-show="infoTag == 'baseInfo'" v-cloak="">
                                <!--应用名称-->
                                <div class="form-group">
                                    <label><span class="cloud-required">  *</span>名称</label>
                                    <input type="text" class="form-control cloud-form-control" id="appName" name="appName" placeholder="请输入名称" maxlength="64"/>
                                    <span class="input-tip">应用名称最多64个字符，字母、数字，首位不能为数字</span>
                                </div>
                                <!--是否公有-->
                                <div class="form-group">
                                    <label><span class="cloud-required">  *</span>是否公有</label>
                                    <div id="isPublic" class="switch">
                                        <input type="checkbox" class="form-control" />
                                    </div>
                                </div>
                                <!--图标-->
                                <div class="form-group">
                                    <label><span class="cloud-required">  *</span>图标</label>
                                    <div class="file-container">
                                        <input class="form-control file-input" type="text" name="logoFileName"
                                               v-model="bindData.logoFileName" readonly="readonly" />
                                        <input type="file" class="file-input-btn" name="logo" id="logo" v-on:change="fileChange('logo')"/>
                                        <label class="btn cloud-btn"><i class="fa fa-upload"></i>选择文件</label>
                                    </div>
                                    <span class="input-tip">选择镜像的图标文件，文件类型可以是png、jpg或jpeg</span>
                                </div>
                                <!--版本-->
                                <div class="form-group">
                                    <label><span class="cloud-required">  *</span>版本</label>
                                    <input class="form-control cloud-form-control" type="text" name="version" id="version"/>
                                    <span class="input-tip version-tip">请输入镜像版本，如v1.1</span>
                                </div>
                                <!--标签-->
                                <div class="form-group">
                                    <label><span class="cloud-required">  *</span>标签</label>
                                    <div>
                                        <select class="select2" name="appTag"  v-on:change="tagChange">
                                            <option v-for="(val, key) in definedAppTag" v-bind:value="key">{{key}}</option>
                                        </select>
                                        <input class="form-control input-select2" type="text"
                                               v-model="bindData.appTag_input" name="appTag_input"/>
                                    </div>
                                    <span class="input-tip">可以选择系统内置标签，或者输入自定义标签</span>
                                </div>
                                <!--应用简介-->
                                <div class="form-group">
                                    <label >应用简介</label>
                                    <textarea class="form-control cloud-form-control" name="description" maxlength="10000"></textarea>
                                    <span class="input-tip textarea-tip">对上传的镜像进行详细描述</span>
                                </div>
                                <!--版本特性-->
                                <div class="form-group">
                                    <label >版本特性</label>
                                    <textarea class="form-control cloud-form-control" name="v_description" maxlength="1000"></textarea>
                                    <span class="input-tip textarea-tip">简要描述镜像版本的新特性</span>
                                </div>
                            </div>
                            <div class="config-info" v-show="infoTag == 'configInfo'" v-cloak="">
                                <!--源文件-->
                                <div class="form-group">
                                    <label><span class="cloud-required">  *</span>源文件</label>
                                    <div class="file-container">
                                        <input class="form-control file-input" type="text" name="sourceFileName"
                                               v-model="bindData.sourceFileName" readonly="readonly" />
                                        <input type="file" class="file-input-btn" name="sourceFile" id="source" v-on:change="fileChange('source')"/>
                                        <label class="btn cloud-btn"><i class="fa fa-upload"></i>选择文件</label>
                                    </div>
                                    <span class="input-tip">选择需要上传的镜像包文件，文件类型为tar</span>
                                </div>
                                <!--目录映射-->
                                <div class="form-group">
                                    <label >目录映射</label>
                                    <input class="form-control cloud-form-control" type="text" name="volumeDir"/>
                                    <span class="input-tip">容器运行时挂载的目录</span>
                                </div>
                                <!--运行命令-->
                                <div class="form-group">
                                    <label >运行命令</label>
                                    <input class="form-control cloud-form-control" type="text" name="cmd"/>
                                    <span class="input-tip">多个命令使用英文逗号分割</span>
                                </div>
                                <!--命令参数-->
                                <div class="form-group" id="cmdParam-box">
                                    <label >命令参数</label>
                                    <span v-on:click="addCmdParam"><i class="fa fa-plus"></i></span>

                                </div>
                                <!--环境变量-->
                                <div class="form-group">
                                    <label>环境变量</label>
                                    <span v-on:click="addEnv"><i class="fa fa-plus"></i></span>
                                    <div class="modal-table-box">
                                        <table class="table cloud-modal-table" id="env_table">
                                            <thead>
                                            <tr>
                                                <th>变量</th>
                                                <th>值</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--端口映射-->
                                <div class="form-group port-form-group" >
                                    <label>
                                        <span class="cloud-required">  *</span>端口映射
                                    </label>
                                    <span v-on:click="addPort"><i class="fa fa-plus"></i></span>
                                    <div class="modal-table-box">
                                        <table class="table cloud-modal-table" id="port_table">
                                            <thead>
                                            <tr>
                                                <th>名称</th>
                                                <th style="width: 82px;">协议</th>
                                                <th>容器端口</th>
                                                <th>集群内端口</th>
                                                <th>集群外端口</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><input class="form-control" type="text" id="portName0" name="portName"/></td>
                                                <td>
                                                    <select class="form-control" name="protocol" id="protocol0">
                                                        <option value="TCP">TCP</option>
                                                        <option value="UDP">UDP</option>
                                                    </select>
                                                </td>
                                                <td><input class="form-control" type="text" id="containerPort0" maxlength="5" name="containerPort"/></td>
                                                <td><input class="form-control" type="text" id="port0" maxlength="5" name="port"/></td>
                                                <td><input class="form-control" type="text" id="nodePort0" maxlength="5" name="nodePort"/></td>
                                                <td><!--<span class="modal-table-operation"><i class="fa fa-trash-o"></i></span>--></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="runtime-info" v-show="infoTag == 'runtimeInfo'" v-cloak="">
                                <div class="form-group">
                                    <label >启动限制</label>
                                </div>
                                <div class="form-group">
                                    <label ><span class="cloud-required">  *</span>CPU</label>
                                    <input class="form-control cloud-form-control" type="text" name="mincpu"/>
                                    <span class="input-tip">单位：核，不能大于运行限制的CPU</span>
                                </div>
                                <div class="form-group">
                                    <label><span class="cloud-required">  *</span>内存</label>
                                    <div>
                                        <input class="form-control runtime-input" type="text" name="minMemory"/>
                                        <select class="form-control runtime-select" name="minMemoryUnit">
                                            <option value="Mi">MB</option>
                                            <option value="Gi">GB</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label >运行限制</label>
                                </div>
                                <div class="form-group">
                                    <label><span class="cloud-required">  *</span>CPU</label>
                                    <input class="form-control cloud-form-control" type="text" name="maxcpu"/>
                                    <span class="input-tip">单位：核，不能小于运行限制的CPU</span>
                                </div>
                                <div class="form-group">
                                    <label><span class="cloud-required">  *</span>内存</label>
                                    <div>
                                        <input class="form-control runtime-input" type="text" name="maxMemory"/>
                                        <select class="form-control runtime-select" name="maxMemoryUnit">
                                            <option value="Mi">MB</option>
                                            <option value="Gi">GB</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn cloud-btn" v-show="previousStep"
                            v-on:click="toPrevious" v-cloak="">上一步</button>
                    <button type="button" class="btn cloud-btn" v-show="nextStep"
                            v-on:click="toNext" v-cloak="">下一步</button>
                    <button type="button" class="btn cloud-btn" v-on:click="submitUpload" v-show="submitTag" v-cloak="">确定</button>
                    <button type="button" class="btn cloud-btn" data-dismiss="modal" v-cloak="">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>