h1, h2, h3, h4, h5. h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a, a:hover {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}
img {
    vertical-align: middle;
}
* {
    box-sizing: border-box;
}
/*按钮*/
.cloud-btn, .cloud-btn:hover {
    font-size: 12px;
    color: #ffffff;
    background-color: #7a7275;
    border-color: #7a7275;
    border-radius: 0.25em;
    padding: 5px 12px;
    width: 87px;
}
.cloud-btn i {
    padding-right: 5px;
}
/*模态框*/
.modal-backdrop {
    background-color: #fff;
}
.modal-title {
    display: inline-block;
    font-size: 15px;
}
.cloud-modal-title {

}
.modal-dialog {
    margin-top: 110px;
}
.cloud-modal-body {
    overflow: auto;
    height: 380px;
}
.modal-footer {
    text-align: center;
    box-shadow: 0px -1px 0px #f1e8e8;
}
/*开关按钮*/
.bootstrap-switch {
    border-radius: 17px;
    height: 22px;
}
.bootstrap-switch-container {
    height: 100%;
}
.bootstrap-switch-container span {
    display: inline-block !important;
    height: 100% !important;
}
.bootstrap-switch-primary {
    background: #ec670b !important;
}
.bootstrap-switch-label {
    border-radius: 50% !important;
}
/*select2*/
span.select2 {
    width: 100% !important;
}
/**/
.form-control {
    height: 30px;
    border-radius: 0.25em;
    padding: 6px 6px;
}
.form-group {
    position: relative;
}

.cloud-modal-table > thead > tr > th {
    font-weight: normal;
    white-space: nowrap;
}
/*验证*/
label.error{
    font-weight: normal;
    color: rgb(255, 0, 0);
    font-size: 12px;
    margin-bottom: 0;
}
/*vue*/
[v-cloak] {
    visibility: hidden;
}
#system_role,
#system_user,
#apporch {
    padding-top: 100px;
}
.dataTables_info{
    margin-left: 14px;
}
table.dataTable tbody tr {
    font-size: 12px;
}

table.dataTable thead th {
    padding: 10px 18px;
    border-bottom: 1px solid #e2dede;
}
table.dataTable tbody td{
    padding: 8px 18px;
    border-bottom: 1px solid #e2dede;
    vertical-align: middle;
}
table.dataTable.no-footer {
    border-bottom: 1px solid #333;
}
.dataTables_paginate {
    margin-right: 14px;
    font-size: 12px;
    padding-top: 0.755em !important;
}
.dataTables_paginate .paginate_button{
    padding: 0.2em 0.55em !important;
}

.table-checkbox-box {
    display: inline-block;
    position: relative;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    padding: 0 !important;
}
.checkbox-container {
    position: relative;
    font-size: 12px;
    text-align: center;
    padding: 10px;
}
.cloud-checkbox {
    -webkit-appearance: none; /*去掉checkbox原有的样式*/
    display: inline-block;
    height: 14px;
    width: 14px;
    cursor: pointer;
    outline: none !important;
    border: 1px solid #bbb;
    box-sizing: border-box;
    border-radius: 0;
    vertical-align:middle;
}
.cloud-checkbox:checked{
    background-image: url("../images/icon.svg");
    background-color: rgb(236,103,11);
    border-color: rgb(236,103,11);
    background-position: 98.61% 36.32%;
    background-size: 1642.8571428571427% 1457.142857142857%;
    background-repeat: no-repeat;
}