.login {
    background-image: url(../images/login/login_background.jpg);
    background-size: cover;
    position: relative;
}
.login-box{
    height: 380px;
    width: 380px;
    top: 150px;
    right: 190px;
    background-color: white;
    position: absolute;
}
.login-box .login-header {
    padding-left: 25px;
    padding-top: 15px;
}
.login-box #login-form {
    padding-left: 25px;
    margin-top: 30px;
}
#login-form input{
    display: inline-block;
    width: 93%;
    height: 40px;
    margin-bottom: 5px;
    padding-left: 10px;
    font-size: 12px;
    outline: none;/*屏蔽框自带的高亮效果*/
    border: 1px solid #ccc;
}
#login-form #rememberMe-box {
    position: relative;
}
#login-form #rememberMe {
    width: 15px !important;
    height: 20px !important;
}
#rememberMe-box .rememberMe-text {
    display: inline-block;
    position: absolute;
    font-size: 12px;
    top: 6px;
    left: 20px;
}
#login-form input:hover,
#login-form input:focus {
    border-color: #00c1de;
}
#login-form input[type='submit'] {
    background-color: #00c1de;
    border: #00c1de;
    color: #ffffff;
    font-size: 14px;
}
