<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <div th:replace="common/header::header"></div>
</head>
<body>
<div th:replace="common/nav::menu"></div>
<div id="system_role">
    <table class="" id="role_table">
        <thead class="">
        <tr>
            <th>角色名称</th>
            <th>角色类型</th>
            <th>角色描述</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<div th:replace="common/footer::footer"></div>
<script type="text/javascript">
    require(["../js/require-config"],function (require_config) {
        require(["role"]);
    });
</script>
</body>
</html>