<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <div th:replace="common/header::header"></div>
</head>
<body>
<div th:replace="common/nav::menu"></div>
<div id="system_role">
    <div class="operate-box col-md-12 col-sm-12 col-xs-12">
        <div class="btn cloud-btn"><i class="fa fa-plus"></i>增加</div>
        <div class="btn cloud-btn"><i class="fa fa-trash"></i>删除</div>
        <div class="btn cloud-btn"><i class="fa fa-refresh"></i>刷新</div>
    </div>
    <table class="table" id="role_table">
        <thead class="">
        <tr>
            <th>
                <div class="checkbox-container table-checkbox-box">
                    <input class="cloud-checkbox" type="checkbox"/>
                </div>
            </th>
            <th>角色名称</th>
            <th>角色类型</th>
            <th>角色描述</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="checkbox-container table-checkbox-box">
                        <input class="cloud-checkbox" type="checkbox"/>
                    </div>
                </td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>操作</td>
            </tr>
        </tbody>
    </table>
</div>
<div th:replace="common/footer::footer"></div>
<script type="text/javascript">
    require(["../js/require-config"],function (require_config) {
        require(["role"]);
    });
</script>
</body>
</html>