<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--K8s节点-->
<head>
    <meta charset="UTF-8" />
    <div th:replace="common/header::header"></div>
</head>
<body>
<div th:replace="common/nav::menu"></div>
<div id="userlog">
    <div class="operate-box col-md-12 col-sm-12 col-xs-12">
        <div class="btn cloud-btn"><i class="fa fa-plus"></i>增加</div>
        <div class="btn cloud-btn" v-cloak="" v-on:click="deleteByIds($event, 'multiple')"><i class="fa fa-trash"></i>删除</div>
        <div class="btn cloud-btn"><i class="fa fa-refresh"></i>刷新</div>
    </div>
    <table class="table" id="log_table">
        <thead class="">
        <tr>
            <th>
                <div class="checkbox-container table-checkbox-box" v-on:click="checkAll($event)" v-cloak="">
                    <input class="cloud-checkbox" type="checkbox"/>
                </div>
            </th>
            <th>用户名</th>
            <th>资源类型</th>
            <th>日志内容</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-cloak="" v-for="log in logList">
            <td>
                <div class="checkbox-container table-checkbox-box" v-on:click="checkOne($event)" v-cloak="">
                    <input class="cloud-checkbox" type="checkbox"/>
                </div>
            </td>
            <td v-cloak="">{{log.username}}</td>
            <td v-cloak="">{{log.resoureType}}</td>
            <td v-cloak="">{{log.operation}}</td>
            <td v-cloak="">{{log.create_time}}</td>
            <td>
                <span class="operate-btn" title="删除" v-cloak=""
                      v-on:click="deleteByIds($event, 'one')"><i class="fa fa-trash-o"></i></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="common/footer::footer"></div>
<script type="text/javascript">
    require(["../js/require-config"],function (require_config) {
        require(["userlog"]);
    });
</script>
</body>
</html>