<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tanli.cloud.dao.DeploymentDao">

    <insert id="addDeployment" parameterType="com.tanli.cloud.model.Deployment">
        INSERT INTO tl_deployment (deploy_uuid, deploy_name, user_uuid, deploy_type, template_id, image_uuid, description, create_time, update_time)
        VALUES (#{deploy_uuid}, #{deploy_name}, #{user_uuid}, #{deploy_type}, #{template_uuid},#{image_uuid}, #{description}, #{create_time},#{update_time})
    </insert>

    <resultMap id="deployments" type="com.tanli.cloud.model.Deployment">
        <id column="deploy_uuid" property="deploy_uuid"></id>
        <result column="deploy_name" property="deploy_name"></result>
        <result column="user_uuid" property="user_uuid"></result>
        <result column="deploy_type" property="deploy_type"></result>
        <result column="template_id" property="template_uuid"></result>
        <result column="image_uuid" property="image_uuid"></result>
        <result column="description" property="description"></result>
        <result column="create_time" property="create_time"></result>
        <result column="update_time" property="update_time"></result>
    </resultMap>

    <select id="getDeployments" resultMap="deployments">
        SELECT * from tl_deployment WHERE user_uuid = #{id}
    </select>
</mapper>