<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tanli.cloud.dao.ImageInfoDao">

    <insert id="addImageInfo" parameterType="com.tanli.cloud.model.ImageInfo"
            keyProperty="app_id">
        INSERT INTO tl_image (image_uuid, repo_uuid, uuid, name, tag, version, description, v_description, logo_url, source_url,
                              metadata, create_type, create_time, update_time)
        VALUES (#{app_id}, #{repo_id}, #{user_id}, #{appName}, #{appTag}, #{version}, #{description}, #{v_description}, #{logo_url},
                #{source_url}, #{metadata}, #{createType}, #{create_time}, #{update_time})
    </insert>

    <update id="updateImageInfo" parameterType="com.tanli.cloud.model.ImageInfo">
        UPDATE tl_image
        SET tag = #{appTag},
            version = #{version},
            description = #{description},
            v_description = #{v_description},
            logo_url = #{logo_url},
            source_url = #{source_url},
            metadata = #{metadata},
            create_type = #{createType},
            update_time = #{update_time}
        WHERE image_uuid = #{app_id}
    </update>

    <resultMap id="imageInfos" type="com.tanli.cloud.model.ImageInfo">
        <id column="image_uuid" property="app_id"></id>
        <result column="repo_uuid" property="repo_id"></result>
        <result column="uuid" property="user_id"></result>
        <result column="name" property="appName"></result>
        <result column="tag" property="appTag"></result>
        <result column="version" property="version"></result>
        <result column="description" property="description"></result>
        <result column="v_description" property="v_description"></result>
        <result column="logo_url" property="logo_url"></result>
        <result column="source_url" property="source_url"></result>
        <result column="metadata" property="metadata"></result>
        <result column="create_type" property="createType"></result>
        <result column="create_time" property="create_time"></result>
        <result column="update_time" property="update_time"></result>
    </resultMap>

    <select id="getImages" resultMap="imageInfos" >
        SELECT * FROM tl_image
        WHERE repo_uuid = #{repoid}
        AND uuid = #{userid}
    </select>

    <select id="getImagesAll" resultMap="imageInfos">
        SELECT * FROM tl_image
        WHERE uuid = #{userid}
    </select>

    <delete id="deleteImageById" parameterType="java.lang.String">
        delete from tl_image WHERE image_uuid = #{imageid}
    </delete>

</mapper>