<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tanli.cloud.dao.K8sPodDao">

    <insert id="addPod" parameterType="com.tanli.cloud.model.K8s_Pod">
        INSERT INTO tl_pod (uuid, rc_uuid, svc_uuid, name, namespace, hostIP, podIP, restartCount, image, status, create_time, update_time)
        VALUES (#{uuid}, #{rc_uuid}, #{svc_uuid}, #{name}, #{namespace}, #{hostIP}, #{podIP}, #{restartCount}, #{image}, #{status},#{create_time}, #{update_time})
    </insert>

</mapper>