<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tanli.cloud.dao.K8sPodDao">

    <insert id="addPod" parameterType="com.tanli.cloud.model.K8s_Pod">
        INSERT INTO tl_pod (uuid, rc_uuid, svc_uuid, name, namespace, hostIP, podIP, restartCount, image, status, update_time)
        VALUES (#{uuid}, #{rc_uuid}, #{svc_uuid}, #{name}, #{namespace}, #{hostIP}, #{podIP}, #{restartCount}, #{image}, #{status}, #{update_time})
    </insert>

    <resultMap id="k8spods" type="com.tanli.cloud.model.K8s_Pod">
        <id column="uuid" property="uuid"></id>
        <result column="rc_uuid" property="rc_uuid"></result>
        <result column="svc_uuid" property="svc_uuid"></result>
        <result column="name" property="name"></result>
        <result column="namespace" property="namespace"></result>
        <result column="hostIP" property="hostIP"></result>
        <result column="podIP" property="podIP"></result>
        <result column="restartCount" property="restartCount"></result>
        <result column="image" property="image"></result>
        <result column="status" property="status"></result>
        <result column="update_time" property="update_time"></result>
    </resultMap>

    <select id="getAllPods" resultMap="k8spods">
        SELECT * FROM tl_pod
    </select>

    <update id="updatePod" parameterType="com.tanli.cloud.model.K8s_Pod">
        UPDATE tl_pod
        SET hostIP = #{hostIP}, podIP=#{podIP}, restartCount = ${restartCount}, image = #{image},
        status = #{status}, update_time = #{update_time}
        WHERE uuid = #{uuid}
    </update>
</mapper>