<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tanli.cloud.dao.K8sServiceDao">
    <insert id="addService" parameterType="com.tanli.cloud.model.K8s_Service">
        INSERT INTO tl_svc (uuid, deployment_uuid, name, namespace, ports, selector, type, content, create_time, update_time, ip)
        VALUES (#{uuid}, #{deployment_uuid}, #{name}, #{namespace}, #{ports}, #{selector}, #{type},#{content}, #{create_time}, #{update_time}, #{ip})
    </insert>

    <resultMap id="services" type="com.tanli.cloud.model.K8s_Service">
        <id column="uuid" property="uuid"></id>
        <result column="deployment_uuid" property="deployment_uuid"></result>
        <result column="name" property="name"></result>
        <result column="namespace" property="namespace"></result>
        <result column="ports" property="ports"></result>
        <result column="selector" property="selector"></result>
        <result column="type" property="type"></result>
        <result column="content" property="content"></result>
        <result column="create_time" property="create_time"></result>
        <result column="update_time" property="update_time"></result>
        <result column="ip" property="ip"></result>
    </resultMap>

    <select id="getAllService" resultMap="services">
        SELECT * FROM tl_svc
    </select>
</mapper>