<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tanli.cloud.dao.RepositoryDao">
    <resultMap id="repo" type="com.tanli.cloud.model.response.Repository">
        <id column="repo_uuid" property="repo_uuid"></id>
        <result column="user_uuid" property="user_uuid" />
        <result column="repo_name" property="repo_name" />
        <result column="repo_type" property="repo_type" />
        <result column="url" property="url" />
        <result column="create_time" property="create_time" />
        <result column="update_time" property="update_time" />
        <result column="login_name" property="login_name"></result>
        <result column="login_psd" property="login_psd"></result>
        <result column="project_name" property="project_name"></result>
    </resultMap>
    <select id="getRepoByUserid" resultMap="repo">
        SELECT *
        FROM tl_repository t
        WHERE t.user_uuid = #{userid, jdbcType=VARCHAR}
    </select>

    <insert id="addRepo" parameterType="com.tanli.cloud.model.response.Repository">
        INSERT INTO tl_repository(repo_uuid, user_uuid, repo_name,repo_type, url, login_name, login_psd, project_name, create_time, update_time)
        VALUES (#{repo_uuid}, #{user_uuid}, #{repo_name},#{repo_type}, #{url}, #{login_name}, #{login_psd}, #{project_name}, #{create_time}, #{update_time})
    </insert>

    <delete id="deleteRepo">
        DELETE from tl_repository WHERE user_uuid = #{userid}
    </delete>
</mapper>