<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tanli.cloud.dao.RoleDao">

    <insert id="addRole" parameterType="com.tanli.cloud.model.Role"
        keyProperty="role_uuid">
        INSERT INTO tl_role(role_uuid,role_name,role_desc,create_time,update_time)
        VALUES (#{uuid},#{role_name},#{description},#{create_time},#{update_time})
    </insert>

    <resultMap id="roles" type="com.tanli.cloud.model.Role">
        <id column="role_uuid" property="uuid"></id>
        <result column="role_name" property="role_name"></result>
        <result column="role_desc" property="description"></result>
        <result column="create_time" property="create_time"></result>
        <result column="update_time" property="update_time"></result>
    </resultMap>

    <select id="getAllRole" resultMap="roles">
        SELECT * FROM tl_role
    </select>
</mapper>