<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tanli.cloud.dao.UserLogDao">

    <insert id="addUserLog" parameterType="com.tanli.cloud.model.UserLog">
        INSERT INTO tl_log(uuid, user_uuid, username, resourceType, resourceId, operation, create_time, isDeleted)
        VALUES (#{uuid}, #{user_id}, #{username}, #{resoureType}, #{resourceId},#{operation}, #{create_time}, #{isDeleted})
    </insert>

    <resultMap id="userLogs" type="com.tanli.cloud.model.UserLog">
        <id column="uuid" property="uuid"></id>
        <result column="user_uuid" property="user_id"></result>
        <result column="username" property="username"></result>
        <result column="resourceType" property="resoureType"></result>
        <result column="resourceId" property="resourceId"></result>
        <result column="operation" property="operation"></result>
        <result column="isDeleted" property="isDeleted"></result>
        <result column="create_time" property="create_time"></result>
    </resultMap>

    <select id="getUserLogs" resultMap="userLogs">
        SELECT * from tl_log
    </select>

    <update id="deleteLogById">
        UPDATE tl_log SET isDeleted = 1 WHERE uuid=#{id}
    </update>
</mapper>