<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tanli.cloud.dao.UserDao">

    <select id="loginVefiry" resultType="com.tanli.cloud.model.response.User">
        SELECT * FROM tl_user, tl_role
        WHERE username = #{userName, jdbcType=VARCHAR}
        AND password = #{password, jdbcType=VARCHAR}
        AND tl_user.role_uuid = tl_role.role_uuid
    </select>

    <resultMap id="userInfos" type="com.tanli.cloud.model.response.User">
        <id column="user_uuid" property="user_uuid"></id>
        <result column="role_uuid" property="role_uuid"></result>
        <result column="username" property="userName"></result>
        <result column="password" property="password"></result>
        <result column="email" property="email"></result>
        <result column="telephone" property="telephone"></result>
        <result column="role_name" property="role_name"></result>
        <result column="role_desc" property="role_desc"></result>
        <result column="create_time" property="create_time"></result>
        <result column="update_time" property="update_time"></result>
    </resultMap>

    <select id="getAllUser" resultMap="userInfos">
        SELECT * from tl_user, tl_role
        WHERE tl_user.role_uuid = tl_role.role_uuid
    </select>

    <insert id="addUser" parameterType="com.tanli.cloud.model.response.User">
        INSERT INTO tl_user (user_uuid, role_uuid, username, password, email, telephone, create_time, update_time)
        VALUES (#{user_uuid}, #{role_uuid}, #{userName}, #{password}, #{email}, #{telephone}, #{create_time}, #{update_time})
    </insert>

    <delete id="deleteById">
        DELETE FROM tl_user
        WHERE user_uuid = #{id}
    </delete>

    <update id="updateUser" parameterType="com.tanli.cloud.model.response.User">
        UPDATE tl_user
        SET password = #{password}, email = #{email}, telephone = #{telephone}, update_time = #{update_time}
        WHERE user_uuid = #{user_uuid}
    </update>
</mapper>